/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [DailyCensusSID]
      ,[CensusWardIEN]
      ,[DailyCensusIEN]
      ,A.[Sta3n]
      ,A.[WardLocationSID]
      ,[CensusDate]
      ,[CensusVistaErrorDate]
      ,[CensusDateTransformSID]
      ,[PatientsRemaining]
      ,[CumPatientDays]
      ,[CumBeds]
      ,[CumDischarges]
      ,[CumTransfersOutWard]
      ,[CumPatientDaysDialysis]
      ,[CumPatientsRemaining]
      ,[CumTransfersIn]
      ,[CumTransfersOut]
      ,[CumDischargesDeath]
      ,[CumTransfersOutService]
      ,[CumTransfersFromASIH]
      ,[CumTransfersToASIH]
      ,[CumDischargesOPTNSC]
      ,[CumDischargesWhileASIH]
      ,[CumPatientDaysAA96]
      ,[CumPatientDaysABO]
      ,[CumDeathsWhileASIH]
      ,[CumTransfersInService]
      ,[CumAdmissions]
      ,[CumLosses]
      ,[CumAdmissions30days]
      ,[CumPatientDaysMonth]
      ,[CumPatientDaysUA]
      ,[CumTransfersAA]
      ,[CumTransfersAU]
      ,[CumGains]
      ,[CumTransfersWard]
      ,[CumBedsOutOfService]
      ,[CumDaysWardOutOfService]
      ,[PatientsRemainingFemale]
      ,[BedsOperating]
      ,[PatientsRemainingOver65]
      ,[PatientsRemainingVietnamEra]
      ,[PatientsRemainingAA96]
      ,[PatientsRemainingAA]
      ,[PatientsRemainingUA]
      ,[PatientsRemainingASIH]
      ,[BedsOutOfService]
      ,[BedsAuthorized]
      ,[NumberDischargesOneDay]
  FROM [CDWWork].[Inpat].[DailyCensus] AS A
  INNER JOIN Dim.WardLocation AS B ON B.WardLocationSID = A.WardLocationSID
  WHERE A.Sta3n = 553 
    AND CensusDate >= '2016-10-01' 
	AND WardLocationName = 'B2 NO'
  ORDER BY CensusDate 